@import "/src/css/variables.css";
.card {
  padding: 32px;
}
img.p-image {
  width: 680px;
  border-radius: 4px;
}

.desc-title {
  font-size: 28px;
  padding-bottom: 16px;
  display: block;
  color: var(--gray6);
}
.desc-text {
  font-size: 16px;
  padding-top: 16px;
  display: block;
  color: var(--gray9);
}
@media (max-width: 576px) {
  .card {
    padding: 0px;
  }
  .desc-title {
    font-size: 18px;
  }
  .desc-text {
    font-size: 14px;
  }
}

.p-title {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--black);
}
.p-price {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--black);
}
.p-condition {
  margin-bottom: 16px;
  color: var(--gray6);
}

.btn-buy {
  background-color: var(--blue);
  color: white;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-radius: 6px;
  margin-top: 16px;
}
.btn-buy:hover,
.btn-buy:active,
.btn-buy:focus {
  background-color: #2968c8;
  border-color: var(--blue-color);
  color: white;
}

/* Custom Scroll */
.myScroll {
  max-height:400px;
  overflow: auto;
  padding-right: 10px;
}

.myScroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.myScroll::-webkit-scrollbar:vertical {
  width: 10px;
}

.myScroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.myScroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 1px solid white;
  background-color: var(--main-bg-color);
}
