@import "/src/css/variables.css";

.item-wrapper {
  background: white;
}

.item-wrapper .item {
  border-bottom: 1px solid #dee2e6;
  padding: 16px;
  width: 100%;
  position: relative;
}

.item-wrapper .image {
  margin-right: 16px;
}
.item-wrapper .image img {
  border-radius: 4px;
}

.item-wrapper .item-price {
  font-size: 24px;
  margin-bottom: 16px;
}
.item-wrapper .item-title {
  margin-top: 16px;
}
.item-wrapper .item-address {
  font-size: 12px;
  color: var(--gray9);
}

.item-wrapper a {
  text-decoration: none;
  color: var(--text-color);
}

.info {
  width: 60%;
}

@media (max-width: 576px) {
  .info {
    width: 100%;
  }
}

/* Image Overlay Effect */

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

figure {
  overflow: hidden;
}
figure:hover + span {
  bottom: -36px;
  opacity: 1;
}
