:root {
  --yellow: #ffe600;
  --black: #333333;
  --gray6: #666666;
  --gray9: #999999;
  --blue: #3483fa;
  --main-bg-color: #eeeeee;
}
/*
01- SearchBar
02- ProductItem
03- ProductDetails
04. Image Overlay Effect
05- Custom Scroll 
06- @media
*/

body {
  background-color: var(--main-bg-color);
  font-size: 18px;
  color: var(--text-color);
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
}

.container {
  max-width: 1120px;
}

/*
 01. SearchBar 
*/
.searchBar {
  background-color: var(--yellow);
}

.btn-search {
  background-color: var(--main-bg-color);
  border: none;
  padding: 0px 10px;
}

.input-search {
  border-radius: 2px;
  border: none;
  padding: 10px;
}

.input-search::placeholder {
  color: var(--gray9);
  opacity: 1;
  font-size: 18px;
}

/* 
02. ProductsItem
*/

.ul-prod-list .wrapper {
  background: white;
}

.ul-prod-list a {
  text-decoration: none;
  color: var(--text-color);
}

.ul-prod-list .wrapper .item {
  border-bottom: 1px solid #dee2e6;
  padding: 16px;
  width: 100%;
  position: relative;
}

.ul-prod-list .wrapper .image {
  margin-right: 16px;
}

.ul-prod-list .wrapper .image img {
  border-radius: 4px;
}

.ul-prod-list .wrapper .item-price {
  font-size: 24px;
  margin-bottom: 16px;
}

.ul-prod-list .wrapper .item-title {
  margin-top: 16px;
}

.ul-prod-list .wrapper .item-address {
  font-size: 12px;
  color: var(--gray9);
}

.ul-prod-list .wrapper .info {
  width: 60%;
}

/* 
03. ProductsDetails
*/

.p-card {
  padding: 32px;
  border: none;
}

.p-card .p-image img {
  width: 680px;
  border-radius: 4px;
}

.p-card .description .title {
  font-size: 28px;
  padding-bottom: 16px;
  display: block;
  color: var(--gray6);
}

.p-card .description .desc-text {
  font-size: 16px;
  padding-top: 16px;
  display: block;
  color: var(--gray9);
}

.p-card .p-info .condition {
  margin-bottom: 16px;
  color: var(--gray6);
  font-size: 14px;
  text-transform: capitalize;
}

.p-card .title {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--black);
  font-size: 24px;
  line-height: 34px;
}

.p-card .price {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--black);
  font-size: 46px;
  line-height: 54px;
}

.p-card .btn-buy {
  background-color: var(--blue);
  color: white;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-radius: 6px;
  margin-top: 16px;
}

.p-card .btn-buy:hover,
.p-card .btn-buy:active,
.p-card .btn-buy:focus {
  background-color: #2968c8;
  border-color: var(--blue-color);
  color: white;
}

/*
04. Image Overlay Effect
*/
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover01 figure:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

figure {
  overflow: hidden;
}

figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

/* 
05.Custom Scroll 
*/
.scroll {
  max-height: 400px;
  overflow: auto;
  padding-right: 10px;
}

.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
  width: 10px;
}

.scroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 1px solid white;
  background-color: var(--main-bg-color);
}

/*
06. @media
*/
@media (max-width: 576px) {
  /* ProductsItem */
  .ul-prod-list .wrapper .info {
    width: 100%;
  }

  /* ProductsDetails */
  .p-card {
    padding: 0px;
  }

  .p-card .description .title {
    font-size: 18px;
    padding: 0px;
    margin: 0px;
  }

  .p-card .description .desc-text {
    font-size: 14px;
  }
}
