@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    // fonts
    --font-poppins: 'Poppins', sans-serif;

    // colors
    --yellow: #ffe600;
    --black: #333333;
    --gray-medium: #666666;
    --gray-light: #999999;
    --blue: #3483fa;
    --bg-color: #eeeeee;
    --border-color:#dee2e6
}